.container{
    height: 150px;
    display: flex;
    background-color: cyan;
    overflow: auto

}

.box{
    color: aliceblue;
    background-color: blue;
    border: 1px solid #000;
    /* border-radius: 10px; */
    padding: 20px;
    width: 30%;
    /* flex-shrink: 0; */
     
}

.box1, .box3{
    flex-shrink: 0;
}